openapi: 3.0.3
info:
  contact:
    email: tech@getlago.com
  description: Lago API allows your application to push customer information and metrics
    (events) from your application to the billing application.
  license:
    name: AGPLv3
  title: Lago API documentation
  version: 0.46.0-beta
externalDocs:
  description: Lago Github
  url: https://github.com/getlago
servers:
- url: https://api.getlago.com/api/v1
security:
- bearerAuth: []
tags:
- description: Everything about Billable metric collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/billable_metrics/billable-metric-object
  name: billable_metrics
- description: Everything about Customer collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/customers/customer-object
  name: customers
- description: Everything about Plan collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/plans/plan-object
  name: plans
- description: Everything about Subscription collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/subscriptions/subscription-object
  name: subscriptions
- description: Everything about Event collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/events/event-object
  name: events
- description: Everything about Organization collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/organizations/organization-object
  name: organizations
- description: Everything about Tax collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/taxes/tax-object
  name: taxes
- description: Everything about Coupon collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/coupons/coupon-object
  name: coupons
- description: Everything about Add-on collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/add_ons/add-on-object
  name: add_ons
- description: Everything about Fees
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/invoices/invoice-object#fee-object
  name: fees
- description: Everything about Invoice collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/invoices/invoice-object
  name: invoices
- description: Everything about Wallet collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/wallets/wallet-object
  name: wallets
- description: Everything about Credit notes collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/credit_notes/credit-note-object
  name: credit_notes
- description: Everything about Webhooks
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/webhooks/message-signature#1-retrieve-the-public-key
  name: webhooks
- description: Everything about Webhook Endpoints
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/webhook_endpoints/webhook-endpoint-object
  name: webhook_endpoints
paths:
  /add_ons:
    get:
      description: This endpoint is used to list all existing add-ons.
      operationId: findAllAddOns
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOnsPaginated'
          description: Add-ons
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all add-ons
      tags:
      - add_ons
      x-accepts: application/json
    post:
      description: This endpoint is used to create an add-on that can be then attached
        to a one-off invoice.
      operationId: createAddOn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnCreateInput'
        description: Add-on payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Add-on created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create an add-on
      tags:
      - add_ons
      x-content-type: application/json
      x-accepts: application/json
  /add_ons/{code}:
    delete:
      description: This endpoint is used to delete an existing add-on.
      operationId: destroyAddOn
      parameters:
      - description: Unique code used to identify the add-on.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: setup_fee
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Add-on deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Delete an add-on
      tags:
      - add_ons
      x-accepts: application/json
    get:
      description: This endpoint is used to retrieve a specific add-on.
      operationId: findAddOn
      parameters:
      - description: Unique code used to identify the add-on.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: setup_fee
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Add-on
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve an add-on
      tags:
      - add_ons
      x-accepts: application/json
    put:
      description: This endpoint is used to update an existing add-on.
      operationId: updateAddOn
      parameters:
      - description: Unique code used to identify the add-on.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: setup_fee
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnUpdateInput'
        description: Add-on payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Add-on updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an add-on
      tags:
      - add_ons
      x-content-type: application/json
      x-accepts: application/json
  /applied_add_ons:
    post:
      deprecated: true
      description: Apply an add-on to a customer
      operationId: applyAddOn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppliedAddOnInput'
        description: Apply add-on payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedAddOn'
          description: Add-on applied
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Apply an add-on to a customer
      tags:
      - add_ons
      x-content-type: application/json
      x-accepts: application/json
  /applied_coupons:
    get:
      description: This endpoint is used to list all applied coupons. You can filter
        by coupon status and by customer.
      operationId: findAllAppliedCoupons
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: The status of the coupon. Can be either `active` or `terminated`.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - terminated
          example: active
          type: string
        style: form
      - description: The customer external unique identifier (provided by your own
          application)
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCouponsPaginated'
          description: Applied Coupons
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all applied coupons
      tags:
      - coupons
      x-accepts: application/json
    post:
      description: "This endpoint is used to apply a specific coupon to a customer,\
        \ before or during a subscription."
      operationId: applyCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppliedCouponInput'
        description: Apply coupon payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCoupon'
          description: Coupon applied
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Apply a coupon to a customer
      tags:
      - coupons
      x-content-type: application/json
      x-accepts: application/json
  /billable_metrics:
    get:
      description: This endpoint retrieves all existing billable metrics that represent
        pricing components of your application.
      operationId: findAllBillableMetrics
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetricsPaginated'
          description: List of billable metrics
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all billable metrics
      tags:
      - billable_metrics
      x-accepts: application/json
    post:
      description: This endpoint creates a new billable metric representing a pricing
        component of your application.
      operationId: createBillableMetric
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricCreateInput'
        description: Billable metric payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Billable metric created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a billable metric
      tags:
      - billable_metrics
      x-content-type: application/json
      x-accepts: application/json
  /billable_metrics/{code}:
    delete:
      description: This endpoint deletes an existing billable metric representing
        a pricing component of your application.
      operationId: destroyBillableMetric
      parameters:
      - description: Code of the existing billable metric.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: storage
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Billable metric deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Delete a billable metric
      tags:
      - billable_metrics
      x-accepts: application/json
    get:
      description: This endpoint retrieves an existing billable metric that represents
        a pricing component of your application. The billable metric is identified
        by its unique code.
      operationId: findBillableMetric
      parameters:
      - description: Code of the existing billable metric.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: storage
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Billable metric
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve a billable metric
      tags:
      - billable_metrics
      x-accepts: application/json
    put:
      description: This endpoint updates an existing billable metric representing
        a pricing component of your application.
      operationId: updateBillableMetric
      parameters:
      - description: Code of the existing billable metric.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: storage
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricUpdateInput'
        description: Billable metric payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Billable metric updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update a billable metric
      tags:
      - billable_metrics
      x-content-type: application/json
      x-accepts: application/json
  /billable_metrics/{code}/groups:
    get:
      description: This endpoint retrieves all groups for a billable metric.
      operationId: findAllBillableMetricGroups
      parameters:
      - description: Code of the existing billable metric.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                groups:
                - lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
                  key: region
                  value: us-east-1
                - lago_id: 1a901a90-1a90-1a90-1a90-1a901a288d80
                  key: region
                  value: us-east-2
                - lago_id: 3b288a90-1a20-1a90-1a90-1a921d921a90
                  key: region
                  value: eu-west-1
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 2
              schema:
                $ref: '#/components/schemas/GroupsPaginated'
          description: List of billable metric's groups
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: Find a billable metric's groups
      tags:
      - billable_metrics
      x-accepts: application/json
  /coupons:
    get:
      description: This endpoint is used to list all existing coupons.
      operationId: findAllCoupons
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponsPaginated'
          description: Coupons
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all coupons
      tags:
      - coupons
      x-accepts: application/json
    post:
      description: This endpoint is used to create a coupon that can be then attached
        to a customer to create a discount.
      operationId: createCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponCreateInput'
        description: Coupon payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Coupon created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a coupon
      tags:
      - coupons
      x-content-type: application/json
      x-accepts: application/json
  /coupons/{code}:
    delete:
      description: This endpoint is used to delete a coupon.
      operationId: destroyCoupon
      parameters:
      - description: Unique code used to identify the coupon.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup_deal
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Coupon deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Delete a coupon
      tags:
      - coupons
      x-accepts: application/json
    get:
      description: This endpoint is used to retrieve a specific coupon.
      operationId: findCoupon
      parameters:
      - description: Unique code used to identify the coupon.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup_deal
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Coupon
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve a coupon
      tags:
      - coupons
      x-accepts: application/json
    put:
      description: This endpoint is used to update a coupon that can be then attached
        to a customer to create a discount.
      operationId: updateCoupon
      parameters:
      - description: Unique code used to identify the coupon.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup_deal
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponUpdateInput'
        description: Coupon payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Coupon updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update a coupon
      tags:
      - coupons
      x-content-type: application/json
      x-accepts: application/json
  /credit_notes:
    get:
      description: This endpoint list all existing credit notes.
      operationId: findAllCreditNotes
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: Unique identifier assigned to the customer in your application.
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNotes'
          description: Credit notes
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all credit notes
      tags:
      - credit_notes
      x-accepts: application/json
    post:
      description: This endpoint creates a new credit note.
      operationId: createCreditNote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteCreateInput'
        description: Credit note payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a credit note
      tags:
      - credit_notes
      x-content-type: application/json
      x-accepts: application/json
  /credit_notes/{lago_id}:
    get:
      description: This endpoint retrieves an existing credit note.
      operationId: findCreditNote
      parameters:
      - description: "The credit note unique identifier, created by Lago."
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve a credit note
      tags:
      - credit_notes
      x-accepts: application/json
    put:
      description: This endpoint updates an existing credit note.
      operationId: updateCreditNote
      parameters:
      - description: "The credit note unique identifier, created by Lago."
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteUpdateInput'
        description: Credit note update payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update a credit note
      tags:
      - credit_notes
      x-content-type: application/json
      x-accepts: application/json
  /credit_notes/{lago_id}/download:
    post:
      description: This endpoint downloads the PDF of an existing credit note.
      operationId: downloadCreditNote
      parameters:
      - description: "The credit note unique identifier, created by Lago."
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note PDF
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Download a credit note PDF
      tags:
      - credit_notes
      x-accepts: application/json
  /credit_notes/{lago_id}/void:
    put:
      description: This endpoint voids an existing credit note.
      operationId: voidCreditNote
      parameters:
      - description: "The credit note unique identifier, created by Lago."
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note voided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotAllowed'
          description: Not Allowed error
      summary: Void a credit note
      tags:
      - credit_notes
      x-accepts: application/json
  /customers:
    get:
      description: This endpoint retrieves all existing customers.
      operationId: findAllCustomers
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersPaginated'
          description: List of customers
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all customers
      tags:
      - customers
      x-accepts: application/json
    post:
      description: This endpoint creates a new customer.
      operationId: createCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateInput'
        description: Customer payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Customer created or updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a customer
      tags:
      - customers
      x-content-type: application/json
      x-accepts: application/json
  /customers/{external_id}:
    delete:
      description: This endpoint deletes an existing customer.
      operationId: destroyCustomer
      parameters:
      - description: External ID of the existing customer
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Customer deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Delete a customer
      tags:
      - customers
      x-accepts: application/json
    get:
      description: This endpoint retrieves an existing customer.
      operationId: findCustomer
      parameters:
      - description: External ID of the existing customer
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Customer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve a customer
      tags:
      - customers
      x-accepts: application/json
  /customers/{external_customer_id}/applied_coupons/{applied_coupon_id}:
    delete:
      description: This endpoint is used to delete a specific coupon that has been
        applied to a customer.
      operationId: deleteAppliedCoupon
      parameters:
      - description: The customer external unique identifier (provided by your own
          application)
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      - description: "Unique identifier of the applied coupon, created by Lago."
        explode: true
        in: path
        name: applied_coupon_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCoupon'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Delete an applied coupon
      tags:
      - coupons
      - customers
      x-accepts: application/json
  /customers/{external_customer_id}/portal_url:
    get:
      description: |-
        Retrieves an embeddable link for displaying a customer portal.

        This endpoint allows you to fetch the URL that can be embedded to provide customers access to a dedicated portal
      operationId: getCustomerPortalUrl
      parameters:
      - description: External ID of the existing customer
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCustomerPortalUrl_200_response'
          description: Portal URL
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorForbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Get a customer portal URL
      tags:
      - customers
      x-accepts: application/json
  /customers/{external_customer_id}/current_usage:
    get:
      description: This endpoint enables the retrieval of the usage-based billing
        data for a customer within the current period.
      operationId: findCustomerCurrentUsage
      parameters:
      - description: The customer external unique identifier (provided by your own
          application).
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      - description: The unique identifier of the subscription within your application.
        explode: true
        in: query
        name: external_subscription_id
        required: true
        schema:
          example: sub_1234567890
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerUsage'
          description: Customer usage
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve customer current usage
      tags:
      - customers
      x-accepts: application/json
  /events:
    post:
      description: This endpoint is used for transmitting usage measurement events
        to either a designated customer or a specific subscription.
      operationId: createEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
        description: Event payload
        required: true
      responses:
        "200":
          description: Event received
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Send usage events
      tags:
      - events
      x-content-type: application/json
      x-accepts: application/json
  /events/batch:
    post:
      description: This endpoint is used for transmitting a batch of usage measurement
        events to multiple subscriptions for a single customer.
      operationId: createBatchEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventBatchInput'
        description: Batch events payload
        required: true
      responses:
        "200":
          description: Event received
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Batch multiple events
      tags:
      - events
      x-content-type: application/json
      x-accepts: application/json
  /events/estimate_fees:
    post:
      description: Estimate the fees that would be created after reception of an event
        for a billable metric attached to one or multiple pay in advance charges
      operationId: eventEstimateFees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventEstimateFeesInput'
        description: Event estimate payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fees'
          description: Fees estimate
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Estimate fees for a pay in advance charge
      tags:
      - events
      x-content-type: application/json
      x-accepts: application/json
  /events/{transaction_id}:
    get:
      description: This endpoint is used for retrieving a specific usage measurement
        event that has been sent to a customer or a subscription.
      operationId: findEvent
      parameters:
      - description: This field represents the unique identifier sent for this specific
          event.
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          example: transaction_1234567890
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Event
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve a specific event
      tags:
      - events
      x-accepts: application/json
  /fees:
    get:
      description: This endpoint is used for retrieving all fees that has been issued.
      operationId: findAllFees
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: Unique identifier assigned to the customer in your application.
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      - description: External subscription ID
        explode: true
        in: query
        name: external_subscription_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      - description: Filter results by fee’s currency.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Currency'
          - example: USD
        style: form
      - description: "The fee type. Possible values are `add-on`, `charge`, `credit`\
          \ or `subscription`."
        explode: true
        in: query
        name: fee_type
        required: false
        schema:
          enum:
          - charge
          - add_on
          - subscription
          - credit
          - instant_charge
          example: charge
          type: string
        style: form
      - description: Filter results by the `code` of the billable metric attached
          to the fee. Only applies to `charge` types.
        explode: true
        in: query
        name: billable_metric_code
        required: false
        schema:
          example: bm_code
          type: string
        style: form
      - description: "Indicates the payment status of the fee. It represents the current\
          \ status of the payment associated with the fee. The possible values for\
          \ this field are `pending`, `succeeded`, `failed` and refunded`."
        explode: true
        in: query
        name: payment_status
        required: false
        schema:
          enum:
          - pending
          - succeeded
          - failed
          - refunded
          example: succeeded
          type: string
        style: form
      - description: Filter results created after creation date and time in UTC.
        explode: true
        in: query
        name: created_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results created before creation date and time in UTC.
        explode: true
        in: query
        name: created_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment success after creation date and time
          in UTC.
        explode: true
        in: query
        name: succeeded_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment success after creation date and time
          in UTC.
        explode: true
        in: query
        name: succeeded_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment failure after creation date and time
          in UTC.
        explode: true
        in: query
        name: failed_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment failure after creation date and time
          in UTC.
        explode: true
        in: query
        name: failed_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment refund after creation date and time
          in UTC.
        explode: true
        in: query
        name: refunded_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment refund after creation date and time
          in UTC.
        explode: true
        in: query
        name: refunded_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: List all fees
      tags:
      - fees
      x-accepts: application/json
  /fees/{lago_id}:
    get:
      description: This endpoint is used for retrieving a specific fee that has been
        issued.
      operationId: findFee
      parameters:
      - description: Unique identifier assigned to the fee within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the fee’s record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fee'
          description: Fee
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve a specific fee
      tags:
      - fees
      x-accepts: application/json
    put:
      description: This endpoint is used for updating a specific fee that has been
        issued.
      operationId: updateFee
      parameters:
      - description: Unique identifier assigned to the fee within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the fee’s record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeUpdateInput'
        description: Fee payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fee'
          description: Fee updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update a fee
      tags:
      - fees
      x-content-type: application/json
      x-accepts: application/json
  /invoices:
    get:
      description: This endpoint is used for retrievign all invoices.
      operationId: findAllInvoices
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: Unique identifier assigned to the customer in your application.
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      - description: Filter invoices starting from a specific date.
        explode: true
        in: query
        name: issuing_date_from
        required: false
        schema:
          example: 2022-07-08
          format: date
          type: string
        style: form
      - description: Filter invoices up to a specific date.
        explode: true
        in: query
        name: issuing_date_to
        required: false
        schema:
          example: 2022-08-09
          format: date
          type: string
        style: form
      - description: Filter invoices by status. Possible values are `draft` or `finalized`.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - finalized
          type: string
        style: form
      - description: "Filter invoices by payment status. Possible values are `pending`,\
          \ `failed` or `succeeded`."
        explode: true
        in: query
        name: payment_status
        required: false
        schema:
          enum:
          - pending
          - failed
          - succeeded
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesPaginated'
          description: Invoices
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all invoices
      tags:
      - invoices
      x-accepts: application/json
    post:
      description: This endpoint is used for issuing a one-off invoice.
      operationId: createInvoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceOneOffCreateInput'
        description: Invoice payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a one-off invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /invoices/{lago_id}:
    get:
      description: This endpoint is used for retrieving a specific invoice that has
        been issued.
      operationId: findInvoice
      parameters:
      - description: Unique identifier assigned to the invoice within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the invoice’s record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve an invoice
      tags:
      - invoices
      x-accepts: application/json
    put:
      description: This endpoint is used for updating an existing invoice.
      operationId: updateInvoice
      parameters:
      - description: Unique identifier assigned to the invoice within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the invoice’s record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceUpdateInput'
        description: Update an existing invoice
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /invoices/{lago_id}/download:
    post:
      description: This endpoint is used for downloading a specific invoice PDF document.
      operationId: downloadInvoice
      parameters:
      - description: Unique identifier assigned to the invoice within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the invoice’s record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice PDF
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Download an invoice PDF
      tags:
      - invoices
      x-accepts: application/json
  /invoices/{lago_id}/finalize:
    put:
      description: This endpoint is used for finalizing a draft invoice.
      operationId: finalizeInvoice
      parameters:
      - description: Unique identifier assigned to the invoice within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the invoice’s record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice finalized
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Finalize a draft invoice
      tags:
      - invoices
      x-accepts: application/json
  /invoices/{lago_id}/refresh:
    put:
      description: This endpoint is used for refreshing a draft invoice.
      operationId: refreshInvoice
      parameters:
      - description: Unique identifier assigned to the invoice within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the invoice’s record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice refreshed
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Refresh a draft invoice
      tags:
      - invoices
      x-accepts: application/json
  /invoices/{lago_id}/retry_payment:
    post:
      description: This endpoint resends an invoice for collection and retry a payment.
      operationId: retryPayment
      parameters:
      - description: Unique identifier assigned to the invoice within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the invoice’s record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Invoice payment retried
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotAllowed'
          description: Not Allowed error
      summary: Retry an invoice payment
      tags:
      - invoices
      x-accepts: application/json
  /organizations:
    put:
      description: This endpoint is used to update your own organization's settings.
      operationId: updateOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateInput'
        description: Update an existing organization
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update your organization
      tags:
      - organizations
      x-content-type: application/json
      x-accepts: application/json
  /plans:
    get:
      description: This endpoint retrieves all existing plans.
      operationId: findAllPlans
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansPaginated'
          description: Plans
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all plans
      tags:
      - plans
      x-accepts: application/json
    post:
      description: This endpoint creates a plan with subscription and usage-based
        charges. It supports flexible billing cadence (in-advance or in-arrears) and
        allows for both recurring and metered charges.
      operationId: createPlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreateInput'
        description: Plan payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a plan
      tags:
      - plans
      x-content-type: application/json
      x-accepts: application/json
  /plans/{code}:
    delete:
      description: This endpoint deletes a specific plan. Note that this plan could
        be associated with active subscriptions.
      operationId: destroyPlan
      parameters:
      - description: "The code of the plan. It serves as a unique identifier associated\
          \ with a particular plan. The code is typically used for internal or system-level\
          \ identification purposes, like assigning a subscription, for instance."
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Delete a plan
      tags:
      - plans
      x-accepts: application/json
    get:
      description: This endpoint retrieves a specific plan.
      operationId: findPlan
      parameters:
      - description: "The code of the plan. It serves as a unique identifier associated\
          \ with a particular plan. The code is typically used for internal or system-level\
          \ identification purposes, like assigning a subscription, for instance."
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve a plan
      tags:
      - plans
      x-accepts: application/json
    put:
      description: This endpoint updates a specific plan with subscription and usage-based
        charges. It supports flexible billing cadence (in-advance or in-arrears) and
        allows for both recurring and metered charges.
      operationId: updatePlan
      parameters:
      - description: "The code of the plan. It serves as a unique identifier associated\
          \ with a particular plan. The code is typically used for internal or system-level\
          \ identification purposes, like assigning a subscription, for instance."
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpdateInput'
        description: Plan payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update a plan
      tags:
      - plans
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions:
    get:
      description: This endpoint retrieves all active subscriptions.
      operationId: findAllSubscriptions
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: The customer external unique identifier (provided by your own
          application)
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      - description: The unique code representing the plan to be attached to the customer.
          This code must correspond to the code property of one of the active plans.
        explode: true
        in: query
        name: plan_code
        required: false
        schema:
          example: premium
          type: string
        style: form
      - description: "If the field is not defined, Lago will return only `active`\
          \ subscriptions. However, if you wish to fetch subscriptions by different\
          \ status you can define them in a status[] query param. Available filter\
          \ values: `pending`, `canceled`, `terminated`, `active`."
        explode: true
        in: query
        name: status
        required: false
        schema:
          example:
          - active
          - pending
          items:
            enum:
            - pending
            - canceled
            - terminated
            - active
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsPaginated'
          description: List of subscriptions
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: List all subscriptions
      tags:
      - subscriptions
      x-accepts: application/json
    post:
      description: "This endpoint assigns a plan to a customer, creating or modifying\
        \ a subscription. Ideal for initial subscriptions or plan changes (upgrades/downgrades)."
      operationId: createSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateInput'
        description: Subscription payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Subscription created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Assign a plan to a customer
      tags:
      - subscriptions
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions/{external_id}:
    delete:
      description: This endpoint allows you to terminate a subscription.
      operationId: destroySubscription
      parameters:
      - description: External ID of the existing subscription
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      - description: "If the field is not defined, Lago will terminate only `active`\
          \ subscriptions. However, if you wish to cancel a `pending` subscription,\
          \ please ensure that you include `status=pending` in your request."
        explode: true
        in: query
        name: status
        required: false
        schema:
          example: pending
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Subscription terminated
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotAllowed'
          description: Not Allowed error
      summary: Terminate a subscription
      tags:
      - subscriptions
      x-accepts: application/json
    put:
      description: This endpoint allows you to update a subscription.
      operationId: updateSubscription
      parameters:
      - description: External ID of the existing subscription
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateInput'
        description: Update an existing subscription
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Subscription updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update a subscription
      tags:
      - subscriptions
      x-content-type: application/json
      x-accepts: application/json
  /taxes:
    get:
      description: This endpoint retrieves all existing taxes representing a customizable
        tax rate applicable to either the organization or a specific customer.
      operationId: findAllTaxes
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                taxes:
                - lago_id: 41190609-391a-4368-9549-d4348a85a8cd
                  name: TVA
                  code: french_standard_vat
                  description: French standard VAT
                  rate: 20
                  applied_to_organization: true
                  customers_count: 0
                  created_at: 2023-07-06T14:35:58Z
                - lago_id: 2e034a10-6652-4daf-a600-b085184f93ad
                  name: TVA
                  code: french_reduced_vat
                  description: French reduce VAT
                  rate: 5
                  applied_to_organization: false
                  customers_count: 0
                  created_at: 2023-07-06T14:45:23Z
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 2
              schema:
                $ref: '#/components/schemas/TaxesPaginated'
          description: Taxes
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all taxes
      tags:
      - taxes
      x-accepts: application/json
    post:
      description: This endpoint creates a new tax representing a customizable tax
        rate applicable to either the organization or a specific customer.
      operationId: createTax
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxCreateInput'
        description: Tax creation payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tax'
          description: Tax created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a tax
      tags:
      - taxes
      x-content-type: application/json
      x-accepts: application/json
  /taxes/{code}:
    delete:
      description: This endpoint is used to delete a tax.
      operationId: destroyTax
      parameters:
      - description: The code of the tax. It serves as a unique identifier associated
          with a particular tax. The code is typically used for internal or system-level
          identification purposes.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: french_standard_vat
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tax'
          description: Tax deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Delete a tax
      tags:
      - taxes
      x-accepts: application/json
    get:
      description: This endpoint retrieves an existing tax representing a customizable
        tax rate applicable to either the organization or a specific customer. The
        tax is identified by its unique code.
      operationId: findTax
      parameters:
      - description: The code of the tax. It serves as a unique identifier associated
          with a particular tax. The code is typically used for internal or system-level
          identification purposes.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: french_standard_vat
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tax'
          description: Tax
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
      summary: Retrieve a Tax
      tags:
      - taxes
      x-accepts: application/json
    put:
      description: This endpoint updates an existing tax representing a customizable
        tax rate applicable to either the organization or a specific customer.
      operationId: updateTax
      parameters:
      - description: The code of the tax. It serves as a unique identifier associated
          with a particular tax. The code is typically used for internal or system-level
          identification purposes.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: french_standard_vat
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxUpdateInput'
        description: Tax update payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tax'
          description: Tax updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update a tax
      tags:
      - taxes
      x-content-type: application/json
      x-accepts: application/json
  /wallets:
    get:
      description: This endpoint is used to list all wallets with prepaid credits.
      operationId: findAllWallets
      parameters:
      - description: Page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Number of records per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: The customer external unique identifier (provided by your own
          application).
        explode: true
        in: query
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletsPaginated'
          description: Wallets
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
      summary: List all wallets
      tags:
      - wallets
      x-accepts: application/json
    post:
      description: This endpoint is used to create a wallet with prepaid credits.
      operationId: createWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletCreateInput'
        description: Wallet payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
          description: Wallet created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a wallet
      tags:
      - wallets
      x-content-type: application/json
      x-accepts: application/json
  /wallets/{lago_id}:
    delete:
      description: This endpoint is used to terminate an existing wallet with prepaid
        credits.
      operationId: destroyWallet
      parameters:
      - description: Unique identifier assigned to the wallet within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the wallet’s record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
          description: Wallet terminated
        "401":
          content:
            application/json:
[...]
