openapi: 3.0.3
info:
  contact:
    email: tech@getlago.com
  description: Lago API allows your application to push customer information and metrics
    (events) from your application to the billing application.
  title: Lago API documentation
  version: 0.32.0-beta
externalDocs:
  description: Lago Github
  url: https://github.com/getlago
servers:
- url: https://api.getlago.com/api/v1
security:
- bearerAuth: []
tags:
- description: Everything about Billable metric collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/billable_metrics/billable-metric-object
  name: billable_metrics
- description: Everything about Add-on collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/add_ons/add-on-object
  name: add_ons
- description: Everything about Coupon collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/coupons/coupon-object
  name: coupons
- description: Everything about Organization collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/organizations/organization-object
  name: organizations
- description: Everything about Customer collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/customers/customer-object
  name: customers
- description: Everything about Event collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/events/event-object
  name: events
- description: Everything about Plan collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/plans/plan-object
  name: plans
- description: Everything about Subscription collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/subscriptions/subscription-object
  name: subscriptions
- description: Everything about Webhooks
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/webhooks/message-signature#1-retrieve-the-public-key
  name: webhooks
- description: Everything about Invoice collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/invoices/invoice-object
  name: invoices
- description: Everything about Fees
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/invoices/invoice-object#fee-object
  name: fees
- description: Everything about Wallet collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/wallets/wallet-object
  name: wallets
- description: Everything about Credit notes collection
  name: credit_notes
paths:
  /billable_metrics:
    get:
      description: Find all billable metrics in certain organisation
      operationId: findAllBillableMetrics
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetricsPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find Billable metrics
      tags:
      - billable_metrics
      x-accepts: application/json
    post:
      description: Create a new billable metric
      operationId: createBillableMetric
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricInput'
        description: Billable metric payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a new billable metric
      tags:
      - billable_metrics
      x-content-type: application/json
      x-accepts: application/json
  /billable_metrics/{code}:
    delete:
      description: Delete a billable metric
      operationId: destroyBillableMetric
      parameters:
      - description: Code of the existing billable metric
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Delete a billable metric
      tags:
      - billable_metrics
      x-accepts: application/json
    get:
      description: Return a single billable metric
      operationId: findBillableMetric
      parameters:
      - description: Code of the existing billable metric
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find billable metric by code
      tags:
      - billable_metrics
      x-accepts: application/json
    put:
      description: Update an existing billable metric by code
      operationId: updateBillableMetric
      parameters:
      - description: Code of the existing billable metric
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricInput'
        description: Update an existing billable metric
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing billable metric
      tags:
      - billable_metrics
      x-content-type: application/json
      x-accepts: application/json
  /billable_metrics/{code}/groups:
    get:
      description: Find all billable metric groups in certain organisation
      operationId: findAllBillableMetricGroups
      parameters:
      - description: Code of the existing billable metric
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find Billable metric groups
      tags:
      - billable_metrics
      x-accepts: application/json
  /add_ons:
    get:
      description: Find all add-ons in certain organisation
      operationId: findAllAddOns
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOnsPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find add-ons
      tags:
      - add_ons
      x-accepts: application/json
    post:
      description: Create a new add-on
      operationId: createAddOn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnInput'
        description: Add-on payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a new add-on
      tags:
      - add_ons
      x-content-type: application/json
      x-accepts: application/json
  /add_ons/{code}:
    delete:
      description: Delete an add-on
      operationId: destroyAddOn
      parameters:
      - description: Code of the existing add-on
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Delete an add-on
      tags:
      - add_ons
      x-accepts: application/json
    get:
      description: Return a single add-on
      operationId: findAddOn
      parameters:
      - description: Code of the existing add-on
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find add-on by code
      tags:
      - add_ons
      x-accepts: application/json
    put:
      description: Update an existing add-on by code
      operationId: updateAddOn
      parameters:
      - description: Code of the existing add-on
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnInput'
        description: Update an existing add-on
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing add-on
      tags:
      - add_ons
      x-content-type: application/json
      x-accepts: application/json
  /applied_add_ons:
    post:
      description: Apply an add-on to a customer
      operationId: applyAddOn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppliedAddOnInput'
        description: Apply add-on payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedAddOn'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Apply an add-on to a customer
      tags:
      - add_ons
      x-content-type: application/json
      x-accepts: application/json
  /coupons:
    get:
      description: Find all coupons in certain organisation
      operationId: findAllCoupons
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponsPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find Coupons
      tags:
      - coupons
      x-accepts: application/json
    post:
      description: Create a new coupon
      operationId: createCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponInput'
        description: Coupon payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a new coupon
      tags:
      - coupons
      x-content-type: application/json
      x-accepts: application/json
  /coupons/{code}:
    delete:
      description: Delete a coupon
      operationId: destroyCoupon
      parameters:
      - description: Code of the existing coupon
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Delete a coupon
      tags:
      - coupons
      x-accepts: application/json
    get:
      description: Return a single coupon
      operationId: findCoupon
      parameters:
      - description: Code of the existing coupon
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find coupon by code
      tags:
      - coupons
      x-accepts: application/json
    put:
      description: Update an existing coupon by code
      operationId: updateCoupon
      parameters:
      - description: Code of the existing coupon
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponInput'
        description: Update an existing coupon
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing coupon
      tags:
      - coupons
      x-content-type: application/json
      x-accepts: application/json
  /applied_coupons:
    get:
      description: Find all applied coupons
      operationId: findAllAppliedCoupons
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: Applied coupon status
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: Status
          enum:
          - active
          - terminated
          type: string
        style: form
      - description: External customer ID
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: "12345"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCouponsPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find Applied Coupons
      tags:
      - coupons
      x-accepts: application/json
    post:
      description: Apply a coupon to a customer
      operationId: applyCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppliedCouponInput'
        description: Apply coupon payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCoupon'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Apply a coupon to a customer
      tags:
      - coupons
      x-content-type: application/json
      x-accepts: application/json
  /organizations:
    put:
      description: Update an existing organization
      operationId: updateOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInput'
        description: Update an existing organization
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing Organization
      tags:
      - organizations
      x-content-type: application/json
      x-accepts: application/json
  /customers:
    get:
      description: Find all customers in certain organisation
      operationId: findAllCustomers
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find customers
      tags:
      - customers
      x-accepts: application/json
    post:
      description: Create a new customer
      operationId: createCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
        description: Customer payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a customer
      tags:
      - customers
      x-content-type: application/json
      x-accepts: application/json
  /customers/{external_id}:
    delete:
      description: Return the deleted customer
      operationId: destroyCustomer
      parameters:
      - description: External ID of the existing customer
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Delete a customer
      tags:
      - customers
      x-accepts: application/json
    get:
      description: Return a single customer
      operationId: findCustomer
      parameters:
      - description: External ID of the existing customer
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find customer by external ID
      tags:
      - customers
      x-accepts: application/json
  /customers/{customer_external_id}/current_usage:
    get:
      description: Return a customer current usage
      operationId: findCustomerCurrentUsage
      parameters:
      - description: External ID of the existing customer
        explode: false
        in: path
        name: customer_external_id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      - description: External subscription ID
        explode: true
        in: query
        name: external_subscription_id
        required: true
        schema:
          example: "54321"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerUsage'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find customer current usage
      tags:
      - customers
      x-accepts: application/json
  /customers/{customer_external_id}/portal_url:
    get:
      description: Get customer portal URL
      operationId: getCustomerPortalUrl
      parameters:
      - description: External ID of the existing customer
        explode: false
        in: path
        name: customer_external_id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCustomerPortalUrl_200_response'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Get customer portal URL
      tags:
      - customers
      x-accepts: application/json
  /customers/{customer_external_id}/applied_coupons/{applied_coupon_id}:
    delete:
      description: Delete customer's appplied coupon
      operationId: deleteAppliedCoupon
      parameters:
      - description: External ID of the existing customer
        explode: false
        in: path
        name: customer_external_id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      - description: Applied Coupon Lago ID
        explode: true
        in: path
        name: applied_coupon_id
        required: true
        schema:
          example: "54321"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCoupon'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Delete customer's appplied coupon
      tags:
      - customers
      x-accepts: application/json
  /events:
    post:
      description: Create a new event
      operationId: createEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
        description: Event payload
        required: true
      responses:
        "200":
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a new event
      tags:
      - events
      x-content-type: application/json
      x-accepts: application/json
  /events/batch:
    post:
      description: Create batch events
      operationId: createBatchEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchEventInput'
        description: Batch events payload
        required: true
      responses:
        "200":
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create batch events
      tags:
      - events
      x-content-type: application/json
      x-accepts: application/json
  /events/{id}:
    get:
      description: Return a single event
      operationId: findEvent
      parameters:
      - description: Id of the existing transaction
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find event by transaction ID
      tags:
      - events
      x-accepts: application/json
  /events/estimate_fees:
    post:
      description: Estimate the fees that would be created after reception of an event
        for a billable metric attached to one or multiple instant charges
      operationId: eventEstimateFees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventEstimateFeesInput'
        description: Event payload for instant fee estimate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fees'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Estimate fees for an instant charge
      tags:
      - events
      x-content-type: application/json
      x-accepts: application/json
  /plans:
    get:
      description: Find all plans in certain organisation
      operationId: findAllPlans
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find plans
      tags:
      - plans
      x-accepts: application/json
    post:
      description: Create a new plan
      operationId: createPlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanInput'
        description: Plan payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a new plan
      tags:
      - plans
      x-content-type: application/json
      x-accepts: application/json
  /plans/{code}:
    delete:
      description: Delete a plan
      operationId: destroyPlan
      parameters:
      - description: Code of the existing plan
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Delete a plan
      tags:
      - plans
      x-accepts: application/json
    get:
      description: Return a single plan
      operationId: findPlan
      parameters:
      - description: Code of the existing plan
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find plan by code
      tags:
      - plans
      x-accepts: application/json
    put:
      description: Update an existing plan by code
      operationId: updatePlan
      parameters:
      - description: Code of the existing plan
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: example_code
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanInput'
        description: Update an existing plan
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing plan
      tags:
      - plans
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions:
    get:
      description: Find all suscriptions for certain customer
      operationId: findAllSubscriptions
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: External customer ID
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: "12345"
          type: string
        style: form
      - description: Code of the plan attached to the subscription
        explode: true
        in: query
        name: plan_code
        required: false
        schema:
          example: example_code
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find subscriptions
      tags:
      - subscriptions
      x-accepts: application/json
    post:
      description: Assign a plan to a customer
      operationId: createSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateInput'
        description: Subscription payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Assign a plan to a customer
      tags:
      - subscriptions
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions/{external_id}:
    delete:
      description: Terminate a subscription
      operationId: destroySubscription
      parameters:
      - description: External ID of the existing subscription
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          example: example_id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotAllowed'
          description: Not Allowed error
      summary: Terminate a subscription
      tags:
      - subscriptions
      x-accepts: application/json
    put:
      description: Update an existing subscription by external ID
      operationId: updateSubscription
      parameters:
      - description: External ID of the existing subscription
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          example: example_id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateInput'
        description: Update an existing subscription
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing subscription
      tags:
      - subscriptions
      x-content-type: application/json
      x-accepts: application/json
  /webhooks/public_key:
    get:
      description: Webhook public key
      operationId: fetchPublicKey
      responses:
        "200":
          content:
            text/plain:
              schema:
                example: MEgCQQCo9+BpMRYQ/dL3DS2CyJxRF+j6ctbT3/Qp84+KeFhnii7NT7fELilKUSnxS30WAvQCCo2yU1orfgqr41mM70MBAgMBAAE=
                type: string
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Fetch webhook public key
      tags:
      - webhooks
      x-accepts: application/json
  /invoices:
    get:
      description: Find all invoices in certain organisation
      operationId: findAllInvoices
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: External customer ID
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: "12345"
          type: string
        style: form
      - description: Date from
        explode: true
        in: query
        name: issuing_date_from
        required: false
        schema:
          example: 2022-07-08
          format: date
          type: string
        style: form
      - description: Date to
        explode: true
        in: query
        name: issuing_date_to
        required: false
        schema:
          example: 2022-08-09
          format: date
          type: string
        style: form
      - description: Status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - finalized
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find all invoices
      tags:
      - invoices
      x-accepts: application/json
    post:
      description: Create a new one off Invoice
      operationId: createInvoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceOneOffInput'
        description: Invoice payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a new invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /invoices/{id}:
    get:
      description: Return a single invoice
      operationId: findInvoice
      parameters:
      - description: ID of the existing Lago Invoice
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find invoice by ID
      tags:
      - invoices
      x-accepts: application/json
    put:
      description: Update an existing invoice
      operationId: updateInvoice
      parameters:
      - description: ID of the existing Lago Invoice
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceInput'
        description: Update an existing invoice
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing invoice status
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /invoices/{id}/download:
    post:
      description: Download an existing invoice
      operationId: downloadInvoice
      parameters:
      - description: ID of the existing Lago Invoice
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Download an existing invoice
      tags:
      - invoices
      x-accepts: application/json
  /invoices/{id}/retry_payment:
    post:
      description: Retry invoice payment
      operationId: retryPayment
      parameters:
      - description: ID of the existing Lago Invoice
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotAllowed'
          description: Not Allowed error
      summary: Retry invoice payment
      tags:
      - invoices
      x-accepts: application/json
  /invoices/{id}/refresh:
    put:
      description: Refresh a draft invoice
      operationId: refreshInvoice
      parameters:
      - description: ID of the existing Lago Invoice
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Refresh a draft invoice
      tags:
      - invoices
      x-accepts: application/json
  /invoices/{id}/finalize:
    put:
      description: Finalize a draft invoice
      operationId: finalizeInvoice
      parameters:
      - description: ID of the draft Lago Invoice
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Finalize a draft invoice
      tags:
      - invoices
      x-accepts: application/json
  /fees/{id}:
    get:
      description: Return a single fee
      operationId: findFee
      parameters:
      - description: ID of the existing Lago Fee
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeObject'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find fee by ID
      tags:
      - fees
      x-accepts: application/json
    put:
      description: Update an existing fee
      operationId: updateFee
      parameters:
      - description: ID of the existing Lago Fee
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeUpdateInput'
        description: Payload to update a fee
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeObject'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing fee
      tags:
      - fees
      x-content-type: application/json
      x-accepts: application/json
  /fees:
    get:
      description: Find all fees of an organization and filter them
      operationId: findAllFees
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: External customer ID
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: "12345"
          type: string
        style: form
      - description: External subscription ID
        explode: true
        in: query
        name: external_subscription_id
        required: false
        schema:
          example: "12345"
          type: string
        style: form
      - description: Amount currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          example: EUR
          type: string
        style: form
      - description: Fee type
        explode: true
        in: query
        name: fee_type
        required: false
        schema:
          enum:
          - charge
          - add_on
          - subscription
          - credit
          - instant_charge
          example: charge
          type: string
        style: form
      - description: Code of the source billable metric
        explode: true
        in: query
        name: billable_metric_code
        required: false
        schema:
          example: bm_code
          type: string
        style: form
      - description: Payment status
        explode: true
        in: query
        name: payment_status
        required: false
        schema:
          enum:
          - pending
          - succeeded
          - failed
          - refunded
          example: succeeded
          type: string
        style: form
      - description: Creation datetime from
        explode: true
        in: query
        name: created_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Creation date to
        explode: true
        in: query
        name: created_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Payment succees date from
        explode: true
        in: query
        name: succeeded_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Payment succees date to
        explode: true
        in: query
        name: succeeded_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Payment failed date from
        explode: true
        in: query
        name: failed_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Payment failed date to
        explode: true
        in: query
        name: failed_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Payment refund date from
        explode: true
        in: query
        name: refunded_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Payment refund date to
        explode: true
        in: query
        name: refunded_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Find all fees
      tags:
      - fees
      x-accepts: application/json
  /wallets:
    get:
      description: Find all wallets for certain customer
      operationId: findAllWallets
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: External customer ID
        explode: true
        in: query
        name: external_customer_id
        required: true
        schema:
          example: "12345"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletsPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find wallets
      tags:
      - wallets
      x-accepts: application/json
    post:
      description: Create a new wallet
      operationId: createWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletInput'
        description: Wallet payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a new wallet
      tags:
      - wallets
      x-content-type: application/json
      x-accepts: application/json
  /wallets/{id}:
    delete:
      description: Delete a wallet
      operationId: destroyWallet
      parameters:
      - description: Lago ID of the existing wallet
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotAllowed'
          description: Not Allowed error
      summary: Delete a wallet
      tags:
      - wallets
      x-accepts: application/json
    get:
      description: Return a wallet
      operationId: findWallet
      parameters:
      - description: Lago ID of the existing wallet
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find wallet
      tags:
      - wallets
      x-accepts: application/json
    put:
      description: Update an existing wallet
      operationId: updateWallet
      parameters:
      - description: Lago ID of the existing wallet
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletUpdateInput'
        description: Update an existing wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing wallet
      tags:
      - wallets
      x-content-type: application/json
      x-accepts: application/json
  /wallet_transactions:
    post:
      description: Create a new wallet transaction
      operationId: createWalletTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletTransactionInput'
        description: Wallet transaction payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTransactions'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a new wallet transaction
      tags:
      - wallets
      x-content-type: application/json
      x-accepts: application/json
  /wallets/{id}/wallet_transactions:
    get:
      description: Find all wallet transactions for certain wallet
      operationId: findAllWalletTransactions
      parameters:
      - description: Lago ID of the existing wallet
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: Status (pending or settled)
        explode: true
        in: query
        name: status
        required: false
        schema:
          example: pending
          type: string
        style: form
      - description: Transaction Type (inbound or outbound)
        explode: true
        in: query
        name: transaction_type
        required: false
        schema:
          example: inbound
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTransactionsPaginated'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find wallet transactions
      tags:
      - wallets
      x-accepts: application/json
  /credit_notes:
    get:
      description: Find all credit notes in certain organisation
      operationId: findAllCreditNotes
      parameters:
      - description: Number of page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Number of records per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: External customer ID
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: "12345"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNotes'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
      summary: Find Credit notes
      tags:
      - credit_notes
      x-accepts: application/json
    post:
      description: Create a new credit note
      operationId: createCreditNote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteInput'
        description: Credit note payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Create a new Credit note
      tags:
      - credit_notes
      x-content-type: application/json
      x-accepts: application/json
  /credit_notes/{id}:
    get:
      description: Return a single credit note
      operationId: findCreditNote
      parameters:
      - description: Id of the existing credit note
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Find credit note
      tags:
      - credit_notes
      x-accepts: application/json
    put:
      description: Update an existing credit note
      operationId: updateCreditNote
      parameters:
      - description: Id of the existing credit note
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteUpdateInput'
        description: Update an existing credit note
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBadRequest'
          description: Bad Request error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnprocessableEntity'
          description: Unprocessable entity error
      summary: Update an existing credit note
      tags:
      - credit_notes
      x-content-type: application/json
      x-accepts: application/json
  /credit_notes/{id}/download:
    post:
      description: Download an existing credit note
      operationId: downloadCreditNote
      parameters:
      - description: ID of the existing Lago Credit note
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
      summary: Download an existing credit note
      tags:
      - credit_notes
      x-accepts: application/json
  /credit_notes/{id}/void:
    put:
      description: Void an existing credit note
      operationId: voidCreditNote
      parameters:
      - description: ID of the existing Lago Credit note
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnauthorized'
          description: Unauthorized error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotFound'
          description: Not Found error
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotAllowed'
          description: Not Allowed error
      summary: Void existing credit note
      tags:
      - credit_notes
      x-accepts: application/json
components:
  schemas:
    BillableMetricGroup:
      example:
        values:
        - null
        - null
        key: region
      properties:
        key:
          example: region
          type: string
        values:
          items:
            $ref: '#/components/schemas/BillableMetricGroup_values_inner'
          type: array
      required:
      - key
      - values
      type: object
    BillableMetricObject:
      example:
        aggregation_type: count_agg
        code: example_code
        plans_count: 0
        name: bm1
        description: description
        created_at: 2022-09-14T16:35:31Z
        active_subscriptions_count: 0
        draft_invoices_count: 0
        lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
        field_name: amount
        group:
          values:
          - null
          - null
          key: region
      properties:
        lago_id:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        name:
          example: bm1
          type: string
        code:
          example: example_code
          type: string
        description:
          example: description
          type: string
        created_at:
          example: 2022-09-14T16:35:31Z
          format: date-time
          type: string
        field_name:
          example: amount
          type: string
        aggregation_type:
          description: Aggregation type
          enum:
          - count_agg
          - sum_agg
          - max_agg
          - unique_count_agg
          - recurring_count_agg
          type: string
        group:
          $ref: '#/components/schemas/BillableMetricGroup'
        active_subscriptions_count:
          example: 0
          type: integer
        draft_invoices_count:
          example: 0
          type: integer
        plans_count:
          example: 0
          type: integer
      required:
      - active_subscriptions_count
      - aggregation_type
      - code
      - created_at
      - draft_invoices_count
      - lago_id
      - name
      - plans_count
      type: object
    BillableMetric:
      example:
        billable_metric:
          aggregation_type: count_agg
          code: example_code
          plans_count: 0
          name: bm1
          description: description
          created_at: 2022-09-14T16:35:31Z
          active_subscriptions_count: 0
          draft_invoices_count: 0
          lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
          field_name: amount
          group:
            values:
            - null
            - null
            key: region
      properties:
        billable_metric:
          $ref: '#/components/schemas/BillableMetricObject'
      required:
      - billable_metric
      type: object
    BillableMetricsPaginated:
      example:
        meta:
          next_page: 6
          total_count: 5
          total_pages: 5
          prev_page: 1
          current_page: 0
        billable_metrics:
        - aggregation_type: count_agg
          code: example_code
          plans_count: 0
          name: bm1
          description: description
          created_at: 2022-09-14T16:35:31Z
          active_subscriptions_count: 0
          draft_invoices_count: 0
          lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
          field_name: amount
          group:
            values:
            - null
            - null
            key: region
        - aggregation_type: count_agg
          code: example_code
          plans_count: 0
          name: bm1
          description: description
          created_at: 2022-09-14T16:35:31Z
          active_subscriptions_count: 0
          draft_invoices_count: 0
          lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
          field_name: amount
          group:
            values:
            - null
            - null
            key: region
      properties:
        billable_metrics:
          items:
            $ref: '#/components/schemas/BillableMetricObject'
          type: array
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
      - billable_metrics
      - meta
      type: object
    BillableMetricInput:
      example:
        billable_metric:
          aggregation_type: count_agg
          code: example_code
          name: bm1
          description: description
          field_name: amount
          group:
            values:
            - null
            - null
            key: region
      properties:
        billable_metric:
          $ref: '#/components/schemas/BillableMetricInput_billable_metric'
      required:
      - billable_metric
      type: object
    GroupObject:
      example:
        lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
        value: EU
        key: region
      properties:
        lago_id:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        key:
          example: region
          type: string
        value:
          example: EU
          type: string
      required:
      - key
      - lago_id
      - value
      type: object
    GroupsPaginated:
      example:
        meta:
          next_page: 6
          total_count: 5
          total_pages: 5
          prev_page: 1
          current_page: 0
        groups:
        - lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
          value: EU
          key: region
        - lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
          value: EU
          key: region
      properties:
        groups:
          items:
            $ref: '#/components/schemas/GroupObject'
          type: array
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
      - groups
      - meta
      type: object
    AddOnObject:
      example:
        code: example_code
        amount_cents: 1200
        amount_currency: EUR
        name: example name
        description: description
        created_at: 2022-09-14T16:35:31Z
        lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
      properties:
        lago_id:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        name:
          example: example name
          type: string
        code:
          example: example_code
          type: string
        description:
          example: description
          type: string
        created_at:
          example: 2022-09-14T16:35:31Z
          format: date-time
          type: string
        amount_cents:
          example: 1200
          type: integer
        amount_currency:
          example: EUR
          type: string
      required:
      - amount_cents
      - amount_currency
      - code
      - created_at
      - lago_id
      - name
      type: object
    AddOn:
      example:
        add_on:
          code: example_code
          amount_cents: 1200
          amount_currency: EUR
          name: example name
          description: description
          created_at: 2022-09-14T16:35:31Z
          lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
      properties:
        add_on:
          $ref: '#/components/schemas/AddOnObject'
      required:
      - add_on
      type: object
    AddOnsPaginated:
      example:
        meta:
          next_page: 6
          total_count: 5
          total_pages: 5
          prev_page: 1
          current_page: 0
        add_ons:
        - code: example_code
          amount_cents: 1200
          amount_currency: EUR
          name: example name
          description: description
          created_at: 2022-09-14T16:35:31Z
          lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
        - code: example_code
          amount_cents: 1200
          amount_currency: EUR
          name: example name
          description: description
          created_at: 2022-09-14T16:35:31Z
          lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
      properties:
        add_ons:
          items:
            $ref: '#/components/schemas/AddOnObject'
          type: array
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
      - add_ons
      - meta
      type: object
    AddOnInput:
      example:
        add_on:
          code: example_code
          amount_cents: 1200
          amount_currency: EUR
          name: example name
          description: description
      properties:
        add_on:
          $ref: '#/components/schemas/AddOnInput_add_on'
      required:
      - add_on
      type: object
    AppliedAddOnObject:
      example:
        lago_add_on_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
        amount_cents: 1200
        external_customer_id: "1234567"
        amount_currency: EUR
        created_at: 2022-09-14T16:35:31Z
        add_on_code: code
        lago_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
        lago_customer_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
      properties:
        lago_id:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        lago_add_on_id:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        add_on_code:
          example: code
          type: string
        lago_customer_id:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        external_customer_id:
          example: "1234567"
          type: string
        amount_cents:
          example: 1200
          type: integer
        amount_currency:
          example: EUR
          type: string
        created_at:
          example: 2022-09-14T16:35:31Z
          format: date-time
          type: string
      required:
      - add_on_code
      - amount_cents
      - amount_currency
      - created_at
      - external_customer_id
      - lago_add_on_id
      - lago_customer_id
      - lago_id
      type: object
    AppliedAddOn:
      example:
        applied_add_on:
          lago_add_on_id: 1a901a90-1a90-1a90-1a90-1a901a901a90
[...]
